<h1>Please enter the following</h1>

<form action="/contacts" method="post">
  <label for="">Address</label>
  <input type="text" name="address_input" value="">

  <label for="">Home Phone</label>
  <input type="text" name="home_phone_input" value="">

  <label for="">Cell Phone</label>
  <input type="text" name="cell_phone_input" value="">

  <label for="">Email</label>
  <input type="text" name="email_input" value="">
  <button type="submit" name="button">Enter</button>
</form>
