<h1>Please enter the following</h1>

<form action="/contacts/new" method="post">
  <label for=""></label>
  <input type="text" name="address_input" value="">

  <label for=""></label>
  <input type="text" name="home_phone_input" value="">

  <label for=""></label>
  <input type="text" name="cell_phone_input" value="">

  <label for=""></label>
  <input type="text" name="email_input" value="">
</form>
