<h1>Enter a Name</h1>

<form action="/" method="post">
  <label for="contact_input">Enter Full Name:</label>
  <input id="contact_input "type="text" name="contact_name_input">
  <button type="submit">Enter</button>
</form>
