<h1>Enter your name</h1>

<form action="/users" method="post">
  <label for="inputed_user">Name</label>
  <input class="inputed_user"type="text" name="inputed_user">
  <button type="submit">Enter</button>
</form>
